.image {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    background-color: wheat;

}

.image-title {
    background-color: aqua;
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
}

.image img {
    height: 500px;
    width: 800px;
}

.image-txt {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
}

.texto {
    background-color: red;
    white-space: normal;
    width: 250px;
    height: 400px;


}