@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

a {
    text-decoration: none;
}

body {
    background-color: #EAEBED;
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    margin: auto;
    height: auto;
}

/* header */

.header {
    background-color: #536DFE;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    box-shadow: 0px 10px 10px #0000003b;
    position: fixed;
    width: 100%;
    
}

.header li a {
    color: #B1B0AE;
    font-size: 17px;
    font-weight: bold;
    
}

.header-tittle{
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    margin: 0.5rem 2rem;
    font-size: 30px;
    color:#B1B0AE;
}

.header-tittle a{
    color:#B1B0AE;
}

.header-nav ul {
    display: flex;
    margin: 0.8rem 2rem;
}

.header-nav ul li {
    list-style: none;
    margin-right: 2rem;
}

.header-nav ul li a:hover {
    color: white;
    transition: ease-in .3s;
}

/* Imagem Ilustrativa */

.image {
    display: flex;
    margin: 5rem auto;
}

.image-top {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    width: 90%;
    margin: auto;
    padding-top: 50px;
}

.text-top {
    margin-top: 10rem;
    width: 25rem;
    letter-spacing: 0.1rem;
    color: #3F3D56;
}

.text-top h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.text-top h2 {
    margin-bottom: 0.5rem;
}

.text-top a {
    background-color: #B1B0AE;
    color: #536DFE;
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 15px;
    text-transform: uppercase;
    transition: all 1 ease;
}

.text-top a:hover {
    background-color: #536DFE;
    color: white;
    transition: ease-in .3s;
}

/* main */

.main-content {
    background-color: #EAEBED;
    height: 25rem;
    width: 90%;
    margin: auto;
}

.main-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
    text-align: center;
}

.article {
    margin: 3rem;
}

.article h3 {
    margin-top: 0.8rem;
    text-transform: uppercase;
}

.article p {
    margin-top: 2rem;
    line-height: 1.5rem;
}



/* aside */

.aside-content {
    width: 90%;
    height: 20rem;
    margin: auto;
    background-color: crimson;
}

/* contact */

.footer {
    background-color:#EAEBED;
    font-size: 0.8rem;
    width: 100%;
    margin: auto;
}

.footer-flex {
    display: flex;
    text-transform: uppercase;
    gap: 100px;
    padding-top: 1rem;
    width: 90%;
    margin: auto;
    justify-content: space-around;
}

.footer-contact {
    text-align: center;
    width: 30%;
}

.footer p {
    margin: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    font-size: 15px;
}

.footer-nav {
    align-self: center;
}

.footer-social {
    align-self: center;
}

.footer-social h2 {
    padding-bottom: 0.5rem;
}







